################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/obj
/bin/*
*.njsproj*
/static/thumbnails
/static/Thumbs.db
/data
/dist
/dist-cache
/desktop.json
