<!DOCTYPE html>

<html lang="en">
<base href="../"> 
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HappyPanda X Desktop</title>

    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png?v=kPxXam0OO4">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png?v=kPxXam0OO4">
    <link rel="manifest" href="static/favicon/site.webmanifest?v=kPxXam0OO4">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg?v=kPxXam0OO4" color="#363636">
    <link rel="shortcut icon" href="static/favicon/favicon.ico?v=kPxXam0OO4">

    <link rel="stylesheet" href="static/css/semantic.min.css" />
</head>
<body>
    <div id="root" class="fullheight">
    </div>
    <script src="static/lib/bundle.js"></script>
</body>
</html>